.wr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px - 160px);
}

.card {
    border: 1px solid #c8c9cd;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    width: 940px;
    background-color: white;
    margin: 20px 50px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    padding: 10px 20px 20px 20px;
    position: relative;
}

.cardReviews {
    border: 1px solid #c8c9cd;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    width: 700px;
    background-color: white;
    margin: 8px 50px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.18);
    padding: 5px 20px 20px 20px;
}

.reviewsTitle {
    display: flex; 
    flex-direction: column;
    width: 700px;
    justify-content: start;
    margin-left: 5px;
}

.reviewsTitle p {
font-weight: 700;
font-size: 20px;
margin: 0;
}

.card_body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 10px 0;
}

.card_body > p:nth-child(even) {
    margin: 0;
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}

.card_body > p:last-child{
    font-weight: 700;
}

.image__body {
    height: 180px;
    margin: 10px;
    min-width: 180px;
}

.card__image {
    height: 100%;
}

.stock {
    margin-right: 10px;
    min-width: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 140px;
}

.stock p:first-child {
    margin: 0;
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.description {
    padding: 0 10px;
    width: 100%;
    max-width: 420px;
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}

.stock a:visited, a:link, a:active
{
    text-decoration: none;
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}

.stock a:hover{
    color: rgb(255, 1, 1);
    }

.link {
    align-self: flex-start;
    margin-top: 5px;
}

.buttonBuy {
    padding-top: 15px;
}

.buttonBuy button {
    max-width: 90px;
}

.discount {
    background-color: rgba(225, 65, 85, 0.9);
    border-radius: 15px;
    color: white;
    padding: 0 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.discount p {
    margin: 0;
}

.icon {
    font-size: 18px;
    color: rgb(100, 91, 91);
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: 4px;
    transition: 0.5s;
}

.icon:hover {
    color: black;
}

.linkWr {
    display: flex;
    gap: 18px;
    margin-top: 50px;
}

.link i {
    font-size: 22px;
    color: rgb(100, 91, 91);
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: 4px;
    transition: 0.5s;
}

.link i:hover {
    color: black;
}

.addReview {
    display: flex; 
    flex-direction: column;
    width: 700px;
    justify-content: start;
    margin-left: 5px;
    margin-bottom: 15px;
}

.addReview button {
    background-image: linear-gradient(180deg,#14bdf0,#008ef8);
    border-color: #14bdf0 transparent #008ef8;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-weight: 700;
    padding: 10px 10px;
}

.form {
    color: #2c2c2c;
    padding: 10px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    max-width: 500px;
    margin: auto;
  }

.submitBtn {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

.form input {
    font-size: 16px;
    color: #213053;
    height: 35px;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 6px;
    width: 300px;
}

.form input {
    outline: none;
  }
  
.form button:hover {
    box-shadow: 0 2px 16px rgba(246 152 12 / 10%);
    background-color: #f6980c;
  }

.form p {
    text-align: center;
  }

.titleInModal {
    display: flex;
    justify-content: center;
    font-weight: 700;
  }

.gradient {
    margin: 0;
    padding: 0;
    background: linear-gradient(165deg,#ffd25e 16.44%,#b59646 63.42%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    font-family: Tahoma,Arial,Verdana,sans-serif;
}

.rating {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-bottom: 5px;
    position: absolute;
    top: 14px;
    left: 190px;
}

.rating i {
font-size: 14px;
}