.wr {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: sans-serif;
    min-height: calc(100vh - 100px - 160px);
}

.wr img {
    width: 150px;
    height: 150px;
}