.card {
    padding: 5px 5px 10px;
    border: 1px solid #c8c9cd;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 270px;
    position: relative;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(55, 55, 55, 0.15);
    scale: 1.002;
}

.image__body {
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
}

/* .card__image {
    width: auto;
    height: 180px;

} */

.card__body {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    height: 100%;
    position: relative;
}

.card__body h6 {
    margin-bottom: 4px;
    font-weight: bold;
}

.card__body p:nth-child(2) {
    margin-bottom: 2px;
    color: gray;
    font-size: 12px;
}

.wightWr {
    margin-bottom: 2px;
    color: gray;
    font-size: 12px; 
}

.card__body p:nth-child(3) {
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
}

.button__body {
    width: 100%;
    text-align: left;
    margin-left: 30px;
    margin-top: 5px;
    justify-content: center;
}

.button__body button {
    border-radius: 20px;
    font-weight: 500;
    padding: 4px 12px;
}

.icon {
    font-size: 18px;
    color: rgb(100, 91, 91);
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: 4px;
    transition: 0.5s;
    position: absolute;
    top: 0px;
    right: 5px;
}

.icon:hover {
    color: black;
    scale: 1.01;
}

.discount {
    background-color: rgba(225, 65, 85, 0.9);
    border-radius: 15px;
    color: white;
    padding: 0 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.discount p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.priceDiscountWr {
    display: flex;
    align-items: center;
    gap: 5px;
}

.priceDiscountWr h6 {
    color: rgba(225, 65, 85, 0.98);
}

.priceDiscountWr p {
    font-size: 12px;
    text-decoration: line-through;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.gradient {
    margin: 0;
    padding: 0;
    background: linear-gradient(165deg,#ffd25e 16.44%,#b59646 63.42%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    font-family: Tahoma,Arial,Verdana,sans-serif;
}

.rating {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-bottom: 5px;
    position: absolute;
    top: -22px;
    left: 10px;
}

.rating i {
    font-size: 12px;
    align-self: start;
}