.wr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(237, 187, 60, 0.9);
    /* background: rgba(67, 54, 54, 0.515); */
    height: 160px;
}

.logo {
    text-align: center;
}

.logo p {
    opacity: 0.7;
}
