.wr {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
}   

.logo {
    height: 50%;
    width: auto;
}

.wr h1 {
    color: rgb(23, 21, 21);
}

.wr .wr a:visited, a:link, a:active
{
    text-decoration: none;
}