.wr {
    display: flex;
    align-items: center;
}

.wr a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

.icon {
    font-size: 30px;
    color: rgb(100, 91, 91);
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 20px;
    transition: 0.5s;
}

.icon:hover {
    color: black;
}